@import '../../../../styles-variables';

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}

.actions {
  display: flex;
  margin-bottom: 16px;
}

mat-spinner {
  margin: 0 8px;
}

.table {
  width: 100%;
}

.star-icon {
  color: lightgrey;

  &.favorite {
    color: #006064;
  }
}

.search-input {
  margin: 8px 0;
  border-radius: 4px;
  border-color: lightgrey;
  min-width: 220px;
  &:focus {
    border-color: #006064;
  }
}
